<h1><%=@genre.name%></h1>

<h2>Songs: </h2>
<% @songs.each do |song|%>
<li><a href="<%= song_path(song) %>"><%= song.name %></a></li>
<% end %>

<h2>Artists: </h2>
<% @artists.each do |artist|%>
<li><a href="<%= artist_path(artist) %>"><%= artist.name %></a></li>
<% end %>
